.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.column-left, .column-right {
  flex: 1;
  padding: 20px;
}

.column-left {
  min-width: 60%;
}

.column-right {
  min-width: 40%;
}